/* Osnovni reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Uklanjanje tačaka sa lista */
ul,
ol {
    list-style: none;
}

* {
    font-family: Helvetica;
}
body {
    background-color: #1c1c1e;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.startPauseBtn {
    text-align: center;
    width: 65px;
    height: 35px;
    background-color: seagreen;
    border: 2px;
    border-radius: 6px;
    font-weight: 300;
}
.resetBtn {
    text-align: center;
    width: 65px;
    height: 35px;
    background-color: indianred;
    border: 2px;
    border-radius: 6px;
    font-weight: 300;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 10px;
}
.shortBreakBtn,
.longBreakBtn,
.defaultBtn {
    width: 85px;
    height: 35px;
    border: 2px;
    border-radius: 6px;
    background-color: #dadadc;
}
.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 160px;
    margin-bottom: 5px;
    font-size: 6rem;
    color: ghostwhite;
}

.pomodoro-duration,
.status {
    font-family: Poppins;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: ghostwhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
